{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

</head>


<body>

    <div class = "container-fluid">
        <h1>Hello</h1>
        <div class = "row">
            <div class = "col-md-4" style = "background-color: #ff9999">left</div>
            <div class = "col-md-4" style = "background-color: #99ccff">midle</div>
            <div class = "col-md-4" style = "background-color: #00cc99">right</div>
        </div>

    </div>

    <div class="general-container">
        <div class="container top-container">
            <div class = "row">
                 <div class = "col-lg-8 col-lg-offset-2">
                    <h1 class="title">Наш магазин скоро откроется!<br>
                    Оставляйте Ваш имейл в форме ниже</h1>
                     <div>
                         <form action="" method="post" class="form-inline text-center">{% csrf_token %}
                         <div class="form-group">
                             <label>Ваш имейл: </label>
                             <input name="{{ form.email.name }}" class="form-control">
                         </div>
                         <div class="form-group">
                             <label>Ваше имя: </label>
                             <input name="{{ form.name.name }}" class="form-control">
                         </div>
                         <button type="submit" class="btn btn-primary btn-orange">Отправить</button>
                        </form>
                     </div>
                 </div>
             </div>
         </div>
    </div>



<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% for post in posts %}
                <div class="post">
                    <div class="date">
                        <p>Опубликовано: {{ post.published_date }}</p>
                    </div>
                    <h1><a href="">{{ post.title }}</a></h1>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

</body>
</html>